<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3684520289443307"
     crossorigin="anonymous"></script>


<!-- 
<div height="10">&nbsp;</div>
<div class="adsense" align="center">
    <ins class="adsbygoogle" style="display: block; text-align:center", data-ad-clinet="{{site.adsense.client}}" 
    data-ad-slot="{{site.adsense.slot}}" data-ad-layout="in-article" data-ad-format="fluid"></ins>
    <script> (adbygoogle = window.adbygoogle || []).push({});</script>
</div>


<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script> (adbygoogle = window.adbygoogle || []).push({
    google_ad_client: "ca-pub-3684520289443307",
    enabled_page_level_ads: true,
    crossorigin:"anonymous",
});
</script>
-->